@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	display: inline-block;
}

body {
	line-height: 1.6;
  font-family: 'Lato', sans-serif;
}


.btn {
	display: inline-block;
	padding: .5em 1.5em;
	font-size: 1.125rem;
	font-weight: 700;
	transition: 250ms;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2.5rem;
}

.flow-content--s > * + *  {
	margin-top: .5rem !important;
}
.flow-content--m > * + *  {
	margin-top: 1rem !important;
}
.flow-content--xm > * + *  {
	margin-top: 1.5rem !important;
}
.flow-content--l > * + *  {
	margin-top: 3rem !important;
}
.flow-content--xl > * + *  {
	margin-top: 3.5rem !important;
}